:root {
    --greenish: #a7cccc;
    --blackish: #32343d;
    --menu-font-color:#5d6781;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header {
    display: flex;
    flex-direction: row;
    background-color: var(--blackish);
    align-items: center;
} */

nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blackish);
}


#myname {
    color: var(--blackish);
    background-color: var(--greenish);
    margin: .25em .25em .25em 0em;
    padding: 0em .5em 0em 2em;
    font-size:x-large;

}

#navtext a {
    color: var(--greenish);
    margin-right:1em;
}
